html,
body {
  /* border: 5px solid black; */
  background: linear-gradient(280deg, hsl(210, 70%, 80%), #eeffee);
  /* Disable pull-to-refresh */
  overscroll-behavior: contain;
  /* overflow: hidden; */
}

div {
  width: 90px;
  height: 90px;
  position: absolute;

  font: bold 50px Times New Roman;
  text-align: center;
  line-height: 70px;

  border-radius: 7%;
}

.board {
  background: rgb(150, 150, 150);
  width: 435px;
  height: 435px;

  position: fixed;
  /* left: 30%; */
  /* top: 20%; */

  left: 50%;
  transform: translate(-50%, 0%);

  border-radius: 3%;
  font: 20px Times New Roman;

}

.empty1,
.cell1 {
  left: 15px;
  top: 15px;
  /* animation: moveRight 1s linear; */
}


.empty2,
.cell2 {
  left: 120px;
  top: 15px;
}

.empty3,
.cell3 {
  left: 225px;
  top: 15px;
}

.empty4,
.cell4 {
  left: 330px;
  top: 15px;

  /* animation: moveRight 0.75s linear; */
}

.empty5,
.cell5 {
  left: 15px;
  top: 120px;


}

.empty6,
.cell6 {
  left: 120px;
  top: 120px;


}

.empty7,
.cell7 {
  left: 225px;
  top: 120px;
}

.empty8,
.cell8 {
  left: 330px;
  top: 120px;

}

.empty9,
.cell9 {
  left: 15px;
  top: 225px;

  /* animation: moveRight4 0.75s linear; */
}

.empty10,
.cell10 {
  left: 120px;
  top: 225px;
}

.empty11,
.cell11 {
  left: 225px;
  top: 225px;
}

.empty12,
.cell12 {
  left: 330px;
  top: 225px;
}

.empty13,
.cell13 {
  left: 15px;
  top: 330px;

  /* animation: moveDown1 0.75s linear; */
}

.empty14,
.cell14 {
  left: 120px;
  top: 330px;
}

.empty15,
.cell15 {
  left: 225px;
  top: 330px;
}

.empty16,
.cell16 {
  left: 330px;
  top: 330px;
}

@keyframes moveRight {
  0% {
    left: 15px;
  }


  100% {
    /* top: 30%; */
    /* left: 330px; */
  }

}

@keyframes moveRight1 {
  100% {
    left: 15px;
  }
}

@keyframes moveRight2 {
  100% {
    left: 120px;
  }
}

@keyframes moveRight3 {
  100% {
    left: 225px;
  }
}

@keyframes moveRight4 {
  100% {
    left: 330px;
  }
}



@keyframes moveDown1 {
  100% {
    top: 15px;
  }
}

@keyframes moveDown2 {
  100% {
    top: 120px;
  }
}

@keyframes moveDown3 {
  100% {
    top: 225px;
  }
}

@keyframes moveDown4 {
  100% {
    top: 330px;
  }
}

@keyframes appear {
  0% {
    margin-left: 40px;
    margin-top: 40px;
    width: 15px;
    height: 15px;
  }
}


.empty {
  background: #cdc1b4;
  /* z-index: -1; */
}

button {
  border: 0px;
  border-radius: 7%;
}

#button {
  background: #d2b48c;
  padding: 10px 15px 15px 10px;
  font: bold 23px Times New Roman;
  color: white;
  display: block;
  width: 150px;

  /* margin: auto; */
  position: relative;
  left: 5%;
  top: 100%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v114/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

#undoButton {
  background: rgba(210, 180, 140, 0);

  color: rgba(240, 184, 114, 1);
  width: 30px;

  position: absolute;
  left: 50%;
  top: 130%;


  font-family: 'Material Icons';
  font-weight: bolder;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

}

#Score {
  background: #aaaabb;
  width: 140px;
  height: 70px;
  position: relative;
  left: 65%;
  top: 110%;
  /* margin-: px; */
  font: 30px Times New Roman;
  color: #dddddd;
}

#Best {
  background: #aaaabb;
  width: 140px;
  height: 70px;
  position: relative;
  left: 65%;
  top: 110%;
  margin-top: 10px;
  font: 30px Times New Roman;
  color: #dddddd;
}

#name {
  font: bold 100px Times New Roman;
  color: #696980;
  position: relative;
  /* left: 65%; */
  top: 60%;
}

#End {
  background: rgba(200, 200, 200, 0.8);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0%;

  border-radius: 3%;
  color: #606060;
  font: bold 60px Times New Roman;
  text-align: center;
  line-height: 400px;
  /* padding-top: 50px; */
  z-index: 99;
  display: none;
}

#button2 {
  background: #808080;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  margin-left: -50px;
  margin-top: 40px;
  font: 20px Times New Roman;
  color: white
    /* margin-top: 50%; */
}
